<div class="container">
  <div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
     <h2>Dashboard of completed tasks</h2>
     <p>Show completion points and awards</p>
      <button class="btn-xs btn-primary" (click)="onViewStats()">View Stats</button>
    </div>
  </div>
  <div class="row" *ngIf="viewStats === true">
    <div class="col-lg-4 col-md-4">
      <h3>Points:</h3>
      <p>{{totalPoints}}</p>
    </div>
    <div class="col-lg-4 col-md-4">
       <h3>Completed Tasks</h3>
       {{tasksCompleted }}
    </div>
    <div class="col-lg-4 col-md-4">
       <h3>Time</h3>
       {{time / 60}}
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasks">{{task.name}}</li>
      </ul>
    </div>
  </div>
</div>
