<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasks; let i = index" >
          <h4>Task {{i+1}}: {{task.name}}</h4>
           <p>Description: <em>{{task.description}}</em></p>
           <p>Due Date: <strong>{{task.due}}</strong></p>
          <br>
          <button class="btn btn-primary" (click)="completed = 'true'">Complete</button> <button class="btn btn-danger" (click)="onDelete(task._id)">Delete</button>
        </li>
      </ul>
    </div>

  </div>
</div>
